/* kumbh-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/kumbh-sans-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* kumbh-sans-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/kumbh-sans-v20-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* kumbh-sans-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/kumbh-sans-v20-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

body {
    font-family: "Kumbh Sans", sans-serif;
    margin: 0;
    padding: 0;
     background-color: #fff; 
    color: #333;
    transition: background-color 0.3s, color 0.3s;
     background-color:#F4F6F8; 
}

.container {
    max-width: 1440px;
    margin: 20px auto;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    /* text-align: center; */
    border-radius: 5px;
    /* border: 1px solid black;  */
}
.header{
    background-image: url('img/headerr-img.png');
    width: 1440px;
    height: 162px;
}
.header-img{
    padding-left: 165px;
    padding-top: 45px;
    width: 115px;
    height: 32px;
}
.dark-mode {
    background-color: #333;
    color: white;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
    margin-left: 883px
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc; 
    transition: 0.3s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.3s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #007BFF;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

#modeText {
    margin-top: 20px;
}
.main-top{
    width: 730px;
    height: 140px;
    border: 1px solid black;
    display: flex;
    margin-left: 355px;
}
.all{
    margin-left: 40px;
}
.scot {
    font-size: 34px;
    font-weight: bold;

}
.com {
    font-size: 16px;
    margin-top: -20px;
}
.butt {
    width: 147px;
    height: 48px;
    border-radius: 8px;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 16px;
    color: #5964E0;
    font-weight: 600;
    background-color: #F4F6F8;
    cursor: pointer;
    margin-left: 270px;
    margin-top: 46px;
}
.main-header{
    width: 635px;
    height: 1200px;
    border: 1px solid black;
    margin-left: 355px;
    margin-top: 35px;
    padding: 48px;
}

.ago {
    font-size: 16px;
}
.alll {
    display: flex;
}
.senior {
    font-size: 28px;
    font-weight: 600;
    margin-top: -5px;
}
.now {
    width: 141px;
    height: 48px;
    background-color: #5964E0;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    font-family: "Kumbh Sans", sans-serif;
    border: none;
    margin-left: 140px;
    cursor: pointer;
    transition: 0.3s;
}
.now:hover{
    background-color: #ccc;
    color: black;
}
.united {
    margin-top: -15px;
    font-size: 16px;

}
.ppp{
    margin-top: 30px;
}
.sp{
    margin-left: 20px;
}
.morbi{
    margin-left: 20px;
}

.main-bottom{
    width: 1440px;
    height: 100px;
    /* border: 1px solid white; */
    margin-top: 80px;
}

.soft {
    font-size: 20px;
    font-weight: 600;

}
.bottom-all{
    display: flex;
    margin-left: 355px;
}
.inc {
    font-size: 16px;
    margin-top: -10px;
}

.apply {
    width: 141px;
    height: 48px;
    background-color: #5964E0;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    font-family: "Kumbh Sans", sans-serif;
    border: none;
    margin-left: 348px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 25px;
}
.apply:hover{
    background-color: #ccc;
    color: black;
}